##############################################################################
# Python modules
#
# The first step of installation looks for any conflicting 3rd party modules
# in the system python (i.e. older versions that are put there by the distro)
#
---
content : python modules
cmds :
  test    : |
    test -e .installed
    cd $prefix
    ${prefix_arch}/bin/python -c "import ${module}"
  install : |
    dot_pattern="\."
    opt="--no-deps --verbose --no-binary :all: --no-index"
    if [[ "${module}" =~ ${dot_pattern} ]]
    then
      # Namespace package, requires egg install
      cmd="${prefix_arch}/bin/pip install ${opt} --egg ."
    else
      # Normal python package
      cmd="${prefix_arch}/bin/pip install ${opt} ."
    fi
    echo ${cmd}
    ${cmd}
    touch .installed

autofile:      # define RE transforms to get from name to tarfile glob
  - in : '$'
    out: '*'

modules:
#
# Packages for *only* Ska2
#
  - name : numexpr
  - name : h5py
    file : h5py*
    cmds :
      require : test -r ${prefix_arch}/lib/libhdf5.so
      install : |
        cd ${module_dir}
        export HDF5_DIR=${prefix_arch}
        ${prefix_arch}/bin/python setup.py install
        touch .installed
  - name : tables
    file : tables-*
    cmds :
      require : test -r ${prefix_arch}/lib/libhdf5.so
      install : |
        cd ${module_dir}
        ${prefix_arch}/bin/python setup.py install --hdf5=${prefix_arch}
        touch .installed
  - name : tables3_api
  - name : mx
    file : egenix-mx-base*
    cmds :
      install : |
        ${prefix_arch}/bin/python setup.py install

  - name : Sybase
    file : python-sybase*
    cmds :
      require : test -r ${SYBASE}/SYBASE.sh
      install : |
        . ${SYBASE}/SYBASE.sh
        cd ${module_dir}
        ${prefix_arch}/bin/python setup.py easy_install --always-unzip .
        touch .installed
  - name : BeautifulSoup
  - name : pexpect
  - name : mercurial
  - name : django
    file : Django-*
  - name : pyfits
  - name : sherpa
#
# Packages for both Ska2 and Ska3
#
  - name : mpld3
  - name : autopep8
  - name : ska_path
  - name : parse_cm
  - name : Chandra.Time
  - name : Chandra.ECF
  - name : ska_path
  - name : Ska.arc5gl
  - name : Ska.astro
  - name : Ska.engarchive
  - name : Ska.File
  - name : Ska.ftp
  - name : Ska.Shell
  - name : Ska.Numpy
  - name : Ska.CIAO
  - name : Ska.DBI
  - name : Ska.Table
  - name : Ska.ParseCM
  - name : Ska.Matplotlib
    cmds :
      test    : |
        test -e .installed
        cd $prefix
        ${prefix_arch}/bin/python -c "import Ska.Matplotlib"
        ${prefix_arch}/bin/python -c "from Ska.Matplotlib import plot_cxctime"
        ${prefix_arch}/bin/python -c "from Ska.Matplotlib import lineid_plot"
  - name : Ska.tdb
  - name : Ska.TelemArchive
  - name : cosmocalc
  - name : Quaternion
  - name : Ska.quatutil
  - name : Ska.Sun
  - name : Chandra.Maneuver
  - name : Chandra.cmd_states
  - name : kadi
  - name : agasc
  - name : pyyaks
  - name : asciitable
  - name : pyger
    cmds:
      test    : |
        test -e .installed
  - name : Chandra.taco
  - name : Ska.report_ranges
  - name : xija
  - name : chandra_aca
  - name : chandra_models
  - name : find_attitude
  - name : mica
  - name : hopper
  - name : maude
  - name : cxotime
  - name : starcheck
  - name : testr
