##############################################################################
# Sherpa with libraries for X-ray analysis.  Works on CentOS-5, not on Debian-4
#
# See http://www.astropython.org/tutorial/2010/1/Installing-Sherpa-standalone-for-X-ray-analysis
# 
#
--- 
content : sherpa modules
autofile:      # define RE transforms to get from name to tarfile glob
  - in : '$'
    out: '*'
  

modules:
  - name : sherpa
    cmds :
      test : |
        test -e .installed
        cd $prefix
        ${prefix_arch}/bin/python -c "import sherpa.ui"
        ${prefix_arch}/bin/python -c "import sherpa.astro.ui"
      install : |
        cd ${module_dir}
        mv setup.py setup.py.orig
        cp -p ${installer_dir}/custom/sherpa/setup.py ./
        rm -f ${prefix_arch}/lib/python2.6/site-packages/group.so
        ln -s ${prefix_arch}/ciao/lib/python2.6/site-packages/group.so \
              ${prefix_arch}/lib/python2.6/site-packages/group.so
        if [ ! -e /usr/lib64/libg2c.so ] ; then
          rm -f ${prefix_arch}/lib/libg2c.so
          ln -s /usr/lib64/libg2c.so.0 ${prefix_arch}/lib/libg2c.so
        fi
        if [ ! -e /usr/lib64/libgfortran.so ] ; then
          rm -f ${prefix_arch}/lib/libgfortran.so
          ln -s /usr/lib64/libgfortran.so.1 ${prefix_arch}/lib/libgfortran.so
        fi
        ${prefix_arch}/bin/python setup.py \
          fftw_library_dir=${prefix_arch}/ciao/ots/lib \
          fftw_include_dir=${prefix_arch}/ciao/ots/include \
          cfitsio_library_dir=${prefix_arch}/ciao/ots/lib \
          xspec_library_dir=${prefix_arch}/ciao/ots/lib \
          reg_library_dir=${prefix_arch}/ciao/lib \
          reg_include_dir=${prefix_arch}/ciao/include \
          wcs_library_dir=${prefix_arch}/ciao/ots/lib \
          wcs_include_dir=${prefix_arch}/ciao/ots/include \
          cpp_library_dir=${prefix_arch}/lib \
          cpp_lib=gfortran \
          install
        touch .installed
